@charset "UTF-8";
@import url("./reset.css");

html {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li {
    list-style: none;
}

li:hover {
    background-color: #ccc;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.2);
}

nav {
    
    padding: 40px 0 0 30px;
}

#page-container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #333;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    color: white;
    height: auto;
    padding: 20px 20px 20px 20px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px 20px 10px 20px;
    height: auto;
    line-height: 2rem;
}

#footer-copyright {
    height: 2rem;
    line-height: 2rem;
    font-size: 1rem;
    margin-right: 10px;
}

#footer-git-icon {
    -webkit-mask: url('github-brands.svg') no-repeat;
    mask: url('github-brands.svg') no-repeat;
    width: 2.0rem;
    height: 2.0rem;
    background: white;
}

#footer-git-icon:hover {
    -webkit-transform: rotate(360deg) scale(1.1);
    transform: rotate(360deg) scale(1.1);
}

#logo {
    -webkit-mask: url('tick-logo.svg') no-repeat;
    mask: url('tick-logo.svg') no-repeat;
    width: 3.0rem;
    height: 3.0rem;
    margin-right: 1rem;
    background: white;
}

#logo-text {
    height: 3rem;
    line-height: 3rem;
    font-size: 2rem;
}

#content-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

#sidebar-container {
    width: 300px;
    height: 100%;
    background-color: #ddd;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-shadow: 3px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

#main-content {
    width: 80%;
    padding: 55px 0 0 0;
    display: flex;
    justify-content: center;
    background-color: #eee;
}

.content-wrapper {
    width: 90%;
    margin: 50px 0 0 0;
}

.active {
    padding-left: 30px;
    background-color: #ccc;
}

.menu-item {
    margin: 0 20px 20px 0;
    padding: 10px 0 10px 10px;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    /*transition: all .2s ease-out;*/
    transition: all .5s cubic-bezier(0, 0.9, 0, 1.27);
}

.menu-item:hover {
    padding-left: 20px;
    background-color: #ccc;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.2);
}

.add-project-btn {
    font-size: 1rem;
    border-radius: 10px;
    padding: 10px 0 10px 0px;
    margin: 10px 20px 0 0;
    transition: all .2s ease-out;
}

.add-project-btn:hover {
    background-color: #ccc;
    box-shadow: none;
    padding-left: 10px;
}

.home-btn:before{
    content:''; 
    display:inline-block; 
    height:1em; 
    width:1em; 
    background-image:url('house-solid.svg'); 
    background-size:contain; 
    background-repeat:no-repeat; 
    padding-left: 2em; 
}

.today-btn:before{
    content:''; 
    display:inline-block; 
    height:1em; 
    width:1em; 
    background-image:url('calendar-day-solid.svg'); 
    background-size:contain; 
    background-repeat:no-repeat; 
    padding-left: 2em; 
}

.week-btn:before{
    content:''; 
    display:inline-block; 
    height:1em; 
    width:1em; 
    background-image:url('calendar-days-solid.svg'); 
    background-size: contain; 
    background-repeat:no-repeat; 
    padding-left: 2em; 
}

.add-project-btn:before{
    content:''; 
    display:inline-block; 
    height:1em; 
    width:1em; 
    background-image:url('plus-solid.svg'); 
    background-size:contain; 
    background-repeat:no-repeat; 
    padding-left: 2em; 
}

#form-popup-container {
    z-index: 1;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-out;
}

.hidden {
    display: none;
}

#add-project-form-container {
    width: 400px;
    height: auto;
    background-color: white;
    border-radius: 10px;
    display: flex;
}

#add-project-form {
    width: 100%;
}

#add-project-form-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    color: white;
    background-color: black;
    border-radius: 10px 10px 0 0;
    font-size: 1rem;
    padding: 10px;;
}

#add-project-form-content {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.form-input{
    font-size: 1.5rem;
    color: black;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    padding: 5px 10px 5px 10px;
}

.form-input:hover {
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.form-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 80%;
    margin: 20px 0 0 0;
}

.projects-list {
    width: 90%;
    min-height:auto;
    max-height: 200px;
    overflow: auto;
    font-size: 1rem;
    margin: 10px 0 0 0;
    background-color: #fff;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(217, 215, 213, 1.0) 0 2px 5px 0;
}

.form-item input[type="radio"] {
    opacity: 100;
    position: fixed;
    width: 0;
  }

.form-item label {
    width: 32%;
    display: inline-block;
    background-color: #ddd;
    padding: 10px 20px;
    font-family: sans-serif, Arial;
    font-size: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    text-align: center;
    transition: all .2s ease-out;
    cursor: pointer;
}

.form-item textarea {
    width: 100%;
}

.todo-form-container {
    width: 400px;
    min-height: 250px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

/* .todo-form-container h1 {
    padding: 10px 10px 10px 10px;
} */

.todo-form-container li {
    padding: 0 0 5px 0;
}
.todo-form {
    width: 100%;
}

#add-todo-form-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    color: white;
    background-color: black;
    border-radius: 10px 10px 0 0;
    font-size: 1rem;
    padding: 10px;
}

.todo-form-content {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

input[type="radio"] {
    width: 10;
    height: 10;
    border: 1 solid black;
}

.task-menu-item:hover{
    background-color: #ccc;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.2);
}

.projects-module {
    padding: 40px 0 0 40px;
}

.main-content-data {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
}

#home-btn:before{
    content:''; 
    display:inline-block; 
    height:1em; 
    width:1em; 
    background-image:url('house-solid.svg'); 
    background-size:contain; 
    background-repeat:no-repeat; 
    padding-left: 2em; 
}

#today-btn:before{
    content:''; 
    display:inline-block; 
    height:1em; 
    width:1em; 
    background-image:url('calendar-day-solid.svg'); 
    background-size:contain; 
    background-repeat:no-repeat; 
    padding-left: 2em; 
}

#week-btn:before{
    content:''; 
    display:inline-block; 
    height:1em; 
    width:1em; 
    background-image:url('calendar-days-solid.svg'); 
    background-size:contain; 
    background-repeat:no-repeat; 
    padding-left: 2em; 
}

.todo-item {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    padding: 0.5rem;
    background-color: #ddd;
}

.todo-item:hover {
    box-shadow: 3px 3px 5px 2px rgb(0 0 0 / 20%);
    transition: all .2s ease-out;
}

.todo-complete {
    margin-right: 1.0rem;
    height: 1.0rem;
    width: 1.0rem;
    border-radius: 3px;
    border: 2px solid #3ba395;
}

.todo-complete-checked {
    height: 1.0rem;
    width: 1.0rem;
    display: block;
    background: url(check.png), #3ba395;
    background-repeat: no-repeat;
    background-size: contain;
}

.todo-title {
    margin-right: auto;
    font-size: 1rem;
    color: rgb(80, 31, 58);
}

.todo-title-checked {
    color: rgba(80, 31, 58, 0.5);
    text-decoration: line-through;
}

.todo-details {
    position: relative;
    margin-right: 1rem;
    padding: 0.5rem 0.5rem;
    border: 1px solid #3ba395;
    border-radius: 3px;
    font-size: 1rem;
    color: #3ba395;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    transition: all .3s;
}

.todo-details-checked {
    border: 1px solid rgba(59, 163, 149, 0.5);
    color: rgba(59, 163, 149, 0.5);
}

.todo-details:hover {
    background-color: #3ba395;
    color: white;
}

.todo-date {
    margin-right: 1rem;
    width: 4.5rem;
    font-size: 1rem;
    color: #501f3a;
}

.todo-date-checked {
    color: rgba(80, 31, 58, 0.5);
}

.todo-edit-icon {
    -webkit-mask: url('pen-to-square-solid.svg') no-repeat;
    mask: url('pen-to-square-solid.svg') no-repeat;
    width: 1.0rem;
    height: 1.0rem;
    margin-right: 1rem;
    cursor: pointer;
    transition: all .2s;
    background: #501f3a;
}

.todo-edit-icon-checked {
    background: rgba(80, 31, 58, 0.5);
}

.todo-bin-icon {
    -webkit-mask: url('trash-can-solid.svg') no-repeat;
    mask: url('trash-can-solid.svg') no-repeat;
    width: 1.0rem;
    height: 1.0rem;
    margin-right: 1rem;
    cursor: pointer;
    transition: all .2s;
    background: #501f3a;
}

.todo-bin-icon-checked {
    background: rgba(80, 31, 58, 0.5);
}

.high-priority {
    border-left: 3px solid red;
}

.medium-priority {
    border-left: 3px solid orange;
}

.low-priority {
    border-left: 3px solid green;
}

#details-popup-container {
    z-index: 1;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.pointer {
    cursor: pointer;
}

.todo-button {
    margin: 10px 0 10px 0;
    width: 100%;
    height: 2rem;
    line-height: 1.5rem;
    background-color: #fff;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    box-sizing: border-box;
    color: #0f1111;
    display: inline-block;
    font-family: "Amazon Ember",sans-serif;
    font-size: 1rem;
    line-height: 2rem;
    padding: 0 10px 0 11px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    overflow: hidden;
    transition: all .2s ease-out;
}

.todo-button:hover {
  background-color: #f7fafa;
}

.todo-button:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}

.project-button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
    width: 100%;
    height: 2rem;
    line-height: 1.5rem;
    background-color: #fff;    
    box-shadow: rgb(122, 124, 124) 0 1px 3px 0;
    color: #0f1111;
    font-family: "Amazon Ember",sans-serif;
    font-size: 1rem;
    line-height: 2rem;
    padding: 0 10px 0 11px;
    text-align: left;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    transition: all .2s ease-out;
}

.project-button:hover {
    padding-left: 15px;
    background-color: #f7fafa;
    
}

.project-button:focus {
    border-color: #008296;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    outline: 0;
  }

.project-delete-button {
    width: 10%;
    text-align: right;
    color: #f7fafa;
}

.show-button {
    color: #0f1111;
}

.project-title {
    width: 80%;
}

  .todo-sort-order{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    font-size: 0.8rem;
    height: 2rem;
    line-height: 2rem;
    vertical-align: middle;
    margin: 0 0 10px 0;
  }

  .sort-button {
    margin: 0 0 15px 5px;
    width: auto;
    height: 2rem;
    background-color: #fff;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    box-sizing: border-box;
    color: #0f1111;
    display: inline-block;
    font-family: "Amazon Ember",sans-serif;
    font-size: 0.9rem;
    line-height: 2rem;
    padding: 0 10px 0 11px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    overflow: hidden;
    transition: all .2s ease-out;
}

.sort-button:hover {
  background-color: #f7fafa;
}

.sort-button:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}

.create-button {
    margin: 0 0 15px 0;
    width: auto;
    height: 2rem;
    background-color: rgba(240, 240, 240, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .7) 0 2px 5px 0;
    box-sizing: border-box;
    color: #0f1111;
    display: inline-block;
    font-family: "Amazon Ember",sans-serif;
    font-size: 0.9rem;
    line-height: 2rem;
    padding: 0 20px 0 20px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    overflow: hidden;
    transition: all .2s ease-out;
}

.create-button:hover {
    padding-left: 25px;
    padding-right: 25px;
    background-color: #f7fafa;
    border: 1px solid rgba(0, 0, 0, 0.7);
}

.create-button:focus {
    border-color: #008296;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    outline: 0;
}

/* Edit todo form */
.edit-title {
    width: 100%;
    font-size: 1rem;
    padding: 5px 10px 5px 10px;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}
.edit-desc {
    width: 100%;
    font-size: 1rem;
    padding: 5px 10px 5px 10px;
    border-radius: 6px;
}

.edit-date {
    width: 100%;
    font-size: 1rem;
    padding: 5px 10px 5px 10px;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.edit-radios {
    justify-content: space-between;
}

.form-item input[type="radio"]:checked + label[for=low] {
    background-color: rgba(60, 179, 113, 0.4);
    border-color: rgba(60, 179, 113, 1);
}
.form-item input[type="radio"]:checked + label[for=medium] {
    background-color: rgba(255, 165, 0, 0.3);
    border-color: rgba(255, 165, 0, 1.0);
}
.form-item input[type="radio"]:checked + label[for=high] {
    background-color: rgba(255, 0, 0, 0.3);
    border-color: rgba(255, 0, 0, 1);
}

.form-item input[type="radio"]:focus + label {
    border: 1px solid #444;
}

.form-item label[for=low]:hover {
    background-color: rgba(60, 179, 113, 0.4);
    border-color: rgba(60, 179, 113, 1);
}
.form-item label[for=medium]:hover {
    background-color: rgba(255, 165, 0, 0.3);
    border-color: rgba(255, 165, 0, 1.0);
}
.form-item label[for=high]:hover {
    background-color: rgba(255, 0, 0, 0.3);
    border-color: rgba(255, 0, 0, 1);
}

/* Details popup */

.todo-details-popup {
    width: 400px;
    height: 250px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

.todo-details-popup-data {
    display: flex;
    flex-direction: row;
    padding: 0 20px 10px 20px;
    font-size: 1rem;
}

.todo-details-popup-data li:hover{
    background-color: white;
    box-shadow: none;
}

.todo-details-popup-data > :first-child {
    margin-right: 10px;
}

.todo-details-popup-title {
    padding: 10px 20px 10px 20px;
}

/* Create todo form */
.projects-dropdown {
    width: 100%;
    font-size: 1rem;
    padding: 5px 10px 5px 10px;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}