@charset "UTF-8";
@import url("./reset.css");

html {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li {
    list-style: none;
}

li:hover {
    background-color: #ccc;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.2);
}

nav {
    width: 90%;
    padding: 40px 0 0 30px;
}

#page-container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

header {
    width: 100%;
    background-color: #333;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    color: white;
}

footer {
    width: 100%;
    background-color: #333;
    color: white;
}

#content-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

#sidebar-container {
    width: 300px;
    height: 100%;
    background-color: #ddd;
    display: flex;
    flex-shrink: 0;
    box-shadow: 3px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

#main-content {
    width: 80%;
    display: flex;
    justify-content: center;
    background-color: #eee;
}

.content-wrapper {
    width: 90%;
    margin: 50px 0 0 0;
}

.active {
    padding-left: 30px;
    background-color: #ccc;
}

.menu-item {
    margin: 0 0 20px 0;
    padding: 10px 0 10px 10px;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.add-project-btn {
    font-size: 1rem;
    border-radius: 10px;
    padding: 10px 0 10px 10px;
}

.add-project-btn:hover {
    background-color: #ccc;
    box-shadow: none;
    padding-left: 15px;
}

.home-btn:before{
    content:''; 
    display:inline-block; 
    height:1em; 
    width:1em; 
    background-image:url('house-solid.svg'); 
    background-size:contain; 
    background-repeat:no-repeat; 
    padding-left: 2em; 
}

.today-btn:before{
    content:''; 
    display:inline-block; 
    height:1em; 
    width:1em; 
    background-image:url('calendar-day-solid.svg'); 
    background-size:contain; 
    background-repeat:no-repeat; 
    padding-left: 2em; 
}

.week-btn:before{
    content:''; 
    display:inline-block; 
    height:1em; 
    width:1em; 
    background-image:url('calendar-days-solid.svg'); 
    background-size: contain; 
    background-repeat:no-repeat; 
    padding-left: 2em; 
}

.add-project-btn:before{
    content:''; 
    display:inline-block; 
    height:1em; 
    width:1em; 
    background-image:url('plus-solid.svg'); 
    background-size:contain; 
    background-repeat:no-repeat; 
    padding-left: 2em; 
}

#form-popup-container {
    z-index: 1;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

#add-project-form-container {
    width: 400px;
    height: 250px;
    background-color: white;
    border-radius: 10px;
    display: flex;
}

#add-project-form {
    width: 100%;
}

#add-project-form-header {
    width: 100%;
    color: white;
    background-color: black;
    border-radius: 10px 10px 0 0;
    font-size: 1;
    padding: 10px 0 10px 10px;
}

#add-project-form-content {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.form-input {
    font-size: 1.5rem;
    color: black;
    width: 100%;
}

.form-item {
    width: 80%;
    margin: 20px 0 0 0;
}